body {
    background-color: #dff6ff;
}
.head a:link, a:visited {
    color: white;
    background-color:#338cc8;
    text-align: center;
    text-decoration: none;
    display: block;
}

.head a:hover, a:active {
    color: white;
    background-color: #477fd2;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #06283d;
}
li{
    float:left;
}
li a{
    display: block;
    color: white;
    text-align:center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #031d2e;
}

.year {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.Au {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

